# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# =========================
# Our files
# =========================
*.suo
*.sdf
*.opensdf

OpenCVTest/Debug
OpenCVTest/Release
OpenCVTest/ipch
OpenCVTest/x64
OpenCVTest/x64/Debug
OpenCVTest/x64/Release
OpenCVTest/*.vspx
OpenCVTest/*.vs
OpenCVTest/*.opensdf
OpenCVTest/*.sdf
OpenCVTest/*.suo

Prac1/Debug
Prac1/Release
Prac1/ipch
Prac1/x64
Prac1/x64/Debug
Prac1/x64/Release
Prac1/*.vspx
Prac1/*.vs
Prac1/*.opensdf
Prac1/*.suo
Prac1/*.sdf
Prac1/out_camera_data.xml

Prac2/Debug
Prac2/Release
Prac2/ipch
Prac2/x64
Prac2/x64/Debug
Prac2/x64/Release
Prac2/*.vspx
Prac2/*.vs
Prac2/*.opensdf
Prac2/*.suo
Prac2/*.sdf